/* Root background and default fonts */
.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #faf8f8;
}


/* Menu button styling */
.btnMenu {
    -fx-background-color: #6F5CC2;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
    -fx-padding: 8px 15px;
    -fx-font-weight: bold;
}


 .btnMenu:hover {
    -fx-background-color: #A89DDA
}

.btnMenu:pressed {
    -fx-background-color: #004780;
}
.btnMenu:focused{
    -fx-background-color: #7D6CCB;
    -fx-border-color: #7D6CCB;
    -fx-border-width: 3px 3px 3px 3px ;

}

.primary-button{
    -fx-background-color: #ffffff;
    -fx-text-fill: #4f33de;
    -fx-font-size: 12px;
    -fx-border-width: 3px 3px 3px 3px ;
    -fx-background-radius: 5em;
    -fx-padding: 10;
}
.primary-button:hover {
    -fx-background-color: #4f33de;
    -fx-text-fill: #ffffff ;
    -fx-font-weight: bold;


}
/*.HBox .button{
    -fx-background-color: #ffffff;
    -fx-text-fill: #4f33de;
    -fx-font-size: 12px;
    -fx-border-width: 3px 3px 3px 3px ;
    -fx-background-radius: 10em;
}*/


 /*Text fields*/
.text-field {
    -fx-background-color: white;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-font-size: 12px;
    -fx-padding: 5px;
}


/* TableView*/
.table-view {
    -fx-border-color: transparent;
    -fx-background-color: #FFFFFF;
}


.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-background-color: white;
    -fx-cell-size: 20;
}
.table-view .column-header .label{
    -fx-text-fill: #7156DD;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb{
    -fx-background-color:derive(#7156DD, 90%);
    -fx-background-insets: 2, 0,0;
    -fx-background-radius: 2em;
}




.table-view .cell {
    -fx-cell-size: 30;
    -fx-font-size: 11px;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: #363333;
}

.table-row-cell:selected{
    -fx-background-color: rgb(79, 73, 144);
}
.table-row-cell:selected .text{
    -fx-fill: #FFFFFFFF;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width: 90px;
    -fx-tab-min-height: 10px;
}

.tab{
    -fx-background-insets: 0 0 0 0,0,0;
    -fx-padding: 8 16;
}

.tab-pane .tab{
    -fx-background-color: white ;
}

.tab-pane .tab:selected{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6F5CC2;
    -fx-border-color: #6F5CC2;
    -fx-border-width: 0px 0px 3px 0px;
}

.tab .tab-label{
    -fx-alignment: CENTER;
}
.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #A5A9B4;
}

.tab:selected tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #6F5CC2;
}